@mixin carta ($variable) {
  color: $color-blanco;
  font-size: $large;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: $small;
  border: 1px solid $color-blanco-humo;
  background: $variable;
  padding: $small;
  padding-bottom: 15px;
}


.carta-1,
.carta-3 {
  @include carta($marron-claro)
}

.carta-2 {
  @include carta($marron-oscuro)
}

.carta-img {
  height: 350px;
  width: 100%;
  padding: $small;
}

.respaldo {
  padding: $small;
}

#servicios {
  display: flex;
  flex-direction: column;
  margin: $small;
  row-gap: $small;
  padding: 15px;
}