.carta-1,
.carta-3 {
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  border: 1px solid whitesmoke;
  background: #9b917a;
  padding: 10px;
  padding-bottom: 15px;
}

.carta-img {
  height: 350px;
  width: 100%;
  padding: 10px;
}

.carta-2 {
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #685c41;
  border: 1px solid whitesmoke;
  padding: 10px;
  margin: 10px;
}

.respaldo {
  padding: 10px;
}

#servicios {
  display: flex;
  flex-direction: column;
  margin: 10px;
  row-gap: 10px;
  padding: 15px;
}
