footer {
    background: $azul-oscuro;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    text-align: center;
    font: normal normal 14px;
    color: $color-blanco;
    letter-spacing: 2px;
}