@mixin center-center {
    text-align: center;
    justify-content: center;
}


#volver-a-inicio {
    @include center-center;
    color: $azul-oscuro;
    padding: 2px;
    display: flex;
}

.linea {
    @include center-center;
    color: $color-gris;
    font-size: 18px;

}