#volver-a-inicio {
    color: $azul-oscuro;
    text-align: center;
    padding: 2px;
    justify-content: center;
    display: flex;

}

.linea {
    color: $color-gris;
    text-align: center;
    font-size: 18px;

}