#volver-a-inicio {
    color: #064f5c;
    text-align: center;
    padding: 2px;
    justify-content: center;
    display: flex;

}

.linea {
    color: grey;
    text-align: center;
    font-size: 18px;

}