h1,
h2 {
    text-align: center;
    justify-content: center;
}

.parrafo {
    text-align: center;
    padding-right: 10px;
    font-size: 20px;
    color: #064f5c;
    justify-content: center;
}

.contenido {
    font-size: 20px;
    padding: 0px;
    display: block;
    text-align: center;
}