@mixin center {
    text-align: center;
    justify-content: center;
}

h1,
h2 {
    @include center;
}

.parrafo {
    @include center;
    padding-right: $small;
    font-size: $large;
    color: $azul-oscuro;

}

.contenido {
    font-size: $large;
    padding: 0px;
    display: block;
    text-align: center;
}