// Colores
$color-blanco: white;
$color-blanco-humo: whitesmoke;
$color-gris: grey;
$azul-oscuro: #064f5c;
$marron-claro: #9b917a;
$negro: black;
$marron-oscuro: #685c41;
$verde-agua: #0b8379;
$gris-oscuro: #534c4c; 
$marron-suave: #807969;
$color-tiza: #fff9f9;
$color-fondo: #CEC5B0;


//Font size
$small: 10px;
$medium: 16px;
$large: 20px;
$xlarge: 24px;
$xxlarge: 30px;


// Media-queries

$media-query-mobile: 420px;
$media-query-tablet: 768px;
$media-query-desktop: 1200px;