#cuerpo {
  background: #CEC5B0;
  justify-content: center;
  padding: 0%;
  height: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif; }

a {
  color: #fff9f9;
  text-decoration: none; }
  a:hover {
    background-color: #0b8379;
    color: black;
    border-radius: 3px;
    padding: 8px 12px;
    transition: 0.7s;
    text-decoration: none; }

.navegacion {
  margin-right: 20px; }

aside {
  text-align: right;
  padding-right: 10px;
  font-size: 20px; }

.carta-1,
.carta-3 {
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  border: 1px solid whitesmoke;
  background: #9b917a;
  padding: 10px;
  padding-bottom: 15px; }

.carta-2 {
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  border: 1px solid whitesmoke;
  background: #685c41;
  padding: 10px;
  padding-bottom: 15px; }

.carta-img {
  height: 350px;
  width: 100%;
  padding: 10px; }

.respaldo {
  padding: 10px; }

#servicios {
  display: flex;
  flex-direction: column;
  margin: 10px;
  row-gap: 10px;
  padding: 15px; }

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 300px 300px 300px;
  margin-top: 60px;
  padding-left: 70px;
  padding-right: 70px; }

.grid-item {
  background-color: #CEC5B0;
  border: 1px solid white;
  padding: 20px;
  font-size: 30px;
  text-align: center; }
  .grid-item:hover {
    background: grey; }
  .grid-item img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    transform: rotateY(360deg);
    transition: 2.5s; }
    .grid-item img:hover {
      transform: rotateX(0deg); }

h1,
h2 {
  text-align: center;
  justify-content: center; }

.parrafo {
  text-align: center;
  justify-content: center;
  padding-right: 10px;
  font-size: 20px;
  color: #064f5c; }

.contenido {
  font-size: 20px;
  padding: 0px;
  display: block;
  text-align: center; }

.maps {
  overflow: hidden;
  padding-bottom: 15%;
  position: relative;
  height: 0px; }
  .maps iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 25px;
    left: 0; }

.form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  border-radius: 5%;
  box-shadow: 15px 15px 20px #534c4c;
  padding-bottom: 5px;
  background: #807969; }
  .form input {
    width: 90;
    height: 30px;
    margin: 0.5rem; }

#volver-a-inicio {
  text-align: center;
  justify-content: center;
  color: #064f5c;
  padding: 2px;
  display: flex; }

.linea {
  text-align: center;
  justify-content: center;
  color: grey;
  font-size: 18px; }

footer {
  background: #064f5c;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  text-align: center;
  font: normal normal 14px;
  color: white;
  letter-spacing: 2px; }

@media screen and (min-width: 300px) and (max-width: 420px) {
  * {
    box-sizing: border-box; }
  body {
    margin: 0;
    padding: 0; }
  h1 {
    font-size: 1.6em; }
  h2 {
    font-size: 1.5em; }
  h3 {
    font-size: 1.3em; }
  p {
    font-size: 1em; }
  a:hover {
    background-color: #0b8379;
    color: black;
    border-radius: 20%;
    transition: 0.8s; }
  #principal img {
    height: 380px;
    width: 100%;
    object-fit: contain; }
  #nosotros {
    display: block;
    flex-direction: column; }
  .carta-1,
  .carta-2,
  .carta-3 {
    color: white;
    font-size: 20px;
    display: block;
    align-items: center;
    justify-content: center;
    border: 1px solid whitesmoke;
    object-fit: contain; }
  .carta-img {
    height: 350px;
    width: 100%; }
  .grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 300px;
    margin-top: 40px;
    padding-left: 70px;
    padding-right: 70px; }
  .grid-item {
    background-color: #CEC5B0;
    border: 1px solid #534c4c;
    font-size: 20px;
    text-align: contain; }
    .grid-item img {
      height: 100%;
      width: 100%;
      object-fit: cover; } }

@media screen and (max-width: 768px) {
  * {
    box-sizing: border-box; }
  body {
    margin: 0; }
  h1 {
    font-size: 1.7em; }
  h2 {
    font-size: 1.6em; }
  h3 {
    font-size: 1.4em; }
  p {
    font-size: 1em; }
  .imagen1 {
    width: 100%; }
  a:hover {
    background-color: #0b8379;
    color: black;
    border-radius: 20%;
    transition: 0.8s; }
  #principal img {
    height: 420px;
    width: 90%;
    object-fit: contain; }
  #nosotros {
    display: block;
    flex-direction: column;
    padding: 0px; }
  .carta-1,
  .carta-2,
  .carta-3 {
    color: white;
    font-size: 20px;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid whitesmoke;
    object-fit: contain; }
  .carta-1 img,
  .carta-2 img,
  .carta-3 img {
    height: 200px;
    width: 100%;
    object-fit: contain;
    padding: 0px; }
  .grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 300px;
    margin-top: 50px;
    padding-left: 70px;
    padding-right: 70px; }
  .grid-item {
    background-color: #CEC5B0;
    border: 1px solid #534c4c;
    font-size: 20px;
    text-align: center; }
    .grid-item img {
      height: 100%;
      width: 100%;
      object-fit: contain; } }

@media screen and (max-widht: 1200px) {
  * {
    box-sizing: border-box; }
  body {
    margin: 0;
    padding: 0; }
  h1 {
    font-size: 1.6em; }
  h2 {
    font-size: 1.5em; }
  h3 {
    font-size: 1.3em; }
  p {
    font-size: 1em; }
  a:hover {
    background-color: #0b8379;
    color: black;
    border-radius: 20%;
    transition: 0.8s; }
  #principal img {
    height: 420px;
    width: 100%;
    object-fit: contain; }
  #nosotros {
    display: block;
    flex-direction: column; }
  .carta-1,
  .carta-2,
  .carta-3 {
    color: white;
    font-size: 20px;
    display: block;
    align-items: center;
    justify-content: center;
    border: 1px solid whitesmoke;
    object-fit: contain; }
  .carta-img {
    height: 350px;
    width: 100%; }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax 15rem, 1fr);
    grid-template-rows: 300 300;
    margin-top: 40px; }
  .grid-item {
    background-color: #CEC5B0;
    border: 1px solid #534c4c;
    font-size: 20px;
    text-align: contain; }
  .grid-item img {
    height: 100%;
    width: 100%;
    object-fit: contain; } }
